.mail{
  width: 100%;
  margin-top: 50px;
  background-color: #067164;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: white;
  color: #067164;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width:1050px){
  h1.mailTitle{
    text-align: center;
  }
  span.mailDesc{
    text-align: center;
  }
  .mailInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mailInputContainer>button{
  width: 100%;
}
.mailInputContainer>input{
  text-align: center;
}
.mailInputContainer>input{
  margin-right: 0;
}
.hotelWrapper{
  width: auto !important;
}
}

@media(max-width:400px){
  .mail{
    padding-left: 10px;
    padding-right: 10px;
  }
}